@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/din_pro.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/din_pro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/din_pro.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/din_pro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/din_pro.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/din_pro.svg#din_pro') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'DIN Pro', sans-serif;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    &__bread-crumbs {
        font-size: 16px;
        margin-top: 26px;
        font-family: 'DIN Pro', sans-serif;
        font-weight: 400;
        text-align: left;
        width: 100%;
    }
    &__title {
        font-size: 32px;
        margin-top: 6px;
        font-weight: 700;
        font-family: 'DIN Pro', sans-serif;
        color: #3A3849;
        text-align: left;
        width: 100%;
    }
    &__directions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-family: 'DIN Pro', sans-serif;
        margin-top: 32px;
        gap: 10px;
        color: #3A3849;
        font-size: 16px;
        font-weight: 400;
        &__link{
            text-decoration: none;
        }
        &__title {
            flex-basis: 100%;
        }
        &__block {
            color: #3A3849;
            border-radius: 80px;
            margin: 0px;
            background-color: #FFFFFF;
            height: 33px;
            padding: 5px 15px;
            box-sizing: border-box;
            text-align: center;
            border: 1px solid #E9E9E9;
        }
    }
    &__filtr-button {
        width: 100%;
        height: 40px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #E9E9E9;
        background-color: #FFFFFF;
        margin: 17px auto 0px 0px;
        padding: 0px;
        font-size: 14px;
        font-family: 'DIN Pro', sans-serif;
        line-height: 20.3px;
        font-weight: 400;
        color: #3A3849;
        &:hover { 
            cursor: pointer;
        } 
    }

}

.form-course {
    display: none;
    position: absolute;
    top: 570px;
    left: calc(50% - 167px);
    z-index: 2;
    background-color: white;
    width: 335px;
    border-radius: 20px; 
    padding: 10px 15px 18px 15px;
    box-sizing: border-box;
    color: #3A3849;
    font-family: 'DIN Pro', sans-serif;
    &__radio {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.2px;
        & .radio-button {
            width: 16px;
            height: 16px;
            border-radius: 50%; 
            background: white; 
            border: 1px solid #1D7AD3; 
            position: relative;
            padding: 0;
            margin: 0;
            &__point {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #1D7AD3;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 4px;
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #1D7AD3;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }  
        & .radio-input:checked + .radio-button::before {
            opacity: 1; 
        }
        & .radio-name {
            margin: 0;
            padding: 0;
            width: calc(100% - 30px);
        }
    }
    &__p-cat {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    &__p-duration{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        margin-top: 18px;
        margin-bottom: 10px;
        padding: 0;
    }
    &__p-slide {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 4px;
        padding: 0;
        font-size: 14px;
    }
    &__p-result {
        margin: 0;
        margin-top: 21px;
        padding: 0;
    }
    &__button-apply {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: none;
        text-align: center;
        background-color: #1D7AD3;
        box-shadow: none;
        margin: 0;
        padding: 0;
        margin-top: 47px;
        font-size: 16px;
        color: white;
        font-weight: 500;
        font-family: 'DIN Pro', sans-serif;
        &:hover { 
            cursor: pointer;
        } 
    }
    &__button-reset {
        width: 100%;
        height: 50px;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        border-radius: 4px;
        color: #3A3849;
        border: 1px solid #3A3849;
        text-align: center;
        background-color: white;
        box-shadow: none;
        font-size: 16px;
        font-weight: 500;
        font-family: 'DIN Pro', sans-serif;
        &:hover { 
            cursor: pointer;
        } 
    }
    &__slidecontainer {
        position: relative;
        margin: 0 5px;
        padding: 0;
        width: calc(100% - 10px);
        height: 18px;
        & .slider {
            position: absolute;
            left: 0px;
            top: 9px;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 0;
            -webkit-appearance: none; 
            appearance: none;
            pointer-events: none;
            &::-webkit-slider-thumb {
                -webkit-appearance: none; 
                appearance: none;
                width: 8px; 
                height: 8px; 
                background: #1D7AD3; 
                outline: 1px solid #1D7AD3;
                outline-offset: 4px;
                border-radius: 50%;
                cursor: pointer; 
                pointer-events: auto;
            }
            &::-moz-range-thumb {
                width: 8px; 
                height: 8px; 
                background: #1D7AD3; 
                outline: 1px solid #1D7AD3;
                outline-offset: 4px;
                border-radius: 50%;
                cursor: pointer; 
                pointer-events: auto;
            }
        }
        & .slide-track {
            position: absolute;
            left: 0px;
            top: 8px;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 2px;
            background: #1D7AD3;
        }
    } 
}

.form-course-black {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 10%;
    z-index: 1;
}

.category {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    box-sizing: border-box;
    color: #3A3849;
    overflow: visible;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    &__item {
        width: 100%;
        margin: 0;
        padding: 0 0 15px;
        max-width: 335px;
        min-height: 280px;
        box-sizing: border-box;
    }
    &__block {
        width: 100%;
        margin: 0 0 15px;
        max-width: 335px;
        min-height: 280px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #FFFFFF;
        font-family: 'DIN Pro', sans-serif;
        padding: 15px;
        position: relative;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &__category {
            display: flex;
            gap: 10px;
            & div {
                
            }
        }
        &__category-first {
            background-color: #3EAEBA;
            border-radius: 80px;
            height: 33px;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 23.2px;
            padding: 5px 15px;
            font-weight: 500;
            box-sizing: border-box;
        }
        &__category-second {
            border-radius: 80px;
            height: 33px;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 23.2px;
            padding: 5px 15px;
            font-weight: 500;
            box-sizing: border-box;
        }
        &__title {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
        }
        &__text {
            font-size: 16px;
            margin-top: 15px;
            font-weight: bold;
            line-height: 21.6px;
        }
        &__p {
            font-size: 14px; 
            font-weight: 400;
            display: flex;
            margin-top: 10px;
        }
        &__point {
            margin-right: 14px;
            display: flex;
            align-items: center;
        }
        &__point-g {
            margin: 0;
            padding: 0;
            width: 8px;
            height: 8px;
            background-color: #3EAEBA;
            border-radius: 50%;
        }
        &__bottom {
            width: 100%;
            margin: 0;
            padding: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &__duration {
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;
            padding: 0;
            margin: 0;
            margin-top: 15px;
            flex-grow: 1;
            display: flex;
            align-items: end;
            &__span {
                font-weight: bold;
                margin-left: 10px;
            }
        }
        &__button {
            width: 100%;
            height: 50px;
            background-color: #1D7AD3;
            color: white;
            text-align: center;
            border: none;
            font-size: 18px;
            font-weight: 500;
            line-height: 24.3px;
            border-radius: 4px;
            font-family: 'DIN Pro', sans-serif;
            padding: 0;
            &:hover { 
                cursor: pointer;
            } 
        }
        &__form {
            margin-top: 15px;
        }
    }
}

.blue-button {
    background-color: #1D7AD3;
    color: white;
}

@media (min-width: 768px) {
    .content {
        &__filtr-button {
            width: calc(50% - 10px );
        }
    }
    .courses {
        justify-content: space-between;
        gap: 20px;
        &__block {
            width: calc(50% - 10px );
            max-width: none;
            margin: 0 0 0;
        }
    } 
}

@media (min-width: 980px) {
    .content {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0 8.125rem;
    }
}
@media (min-width: 1340px) {
    
    .content {
        &__title {
            font-size: 40px;
            margin-top: 26px;
        }
        &__directions {
            align-items: center;
            margin-top: 31px;
            gap: 15px;
            &__title {
                flex-basis: auto;
            }
        }
        &__filtr-button {
            display: none;
        }
    }

    .category {
        align-items: start;
        margin-top: 52px;
        justify-content: space-between;
        gap: 40px;
    }

    .form-course {
        flex-basis: 301px;
        min-width: 301px;
        padding: 15px 12px 35px 12px;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        font-size: 16px;
        &__radio {
            margin-top: 10px;
        }
        &__p-cat {
            margin: 0;
            padding: 0;
        }
        &__p-duration{
            padding: 0;
            margin-top: 15px;  
        }
        &__p-slide {
            margin: 10px 0 0 0;
            padding: 0;
            font-size: 16px;
        }
        &__p-result {
            margin-top: 27px;
        }
        &__button-apply {
            margin-top: 60px;
        } 
    }

    .courses {
        justify-content: space-between;
        &__block {
            width: calc(( 100% - 40px ) / 3);
            box-sizing: border-box;
            padding: 20px;
            &__category-first {
                background-color: #3EAEBA;
                padding: 5px 20px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                padding: 5px 20px;
                box-sizing: border-box;
            }
            &__category-second {
                background-color: #3EAEBA;
                padding: 5px 20px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                padding: 5px 20px;
                box-sizing: border-box;
            }
            &__title {
                margin-top: 20px;
                font-size: 22px;
                font-weight: 700;
                line-height: 28.6px;
                width: 100%;
            }
            &__text {
                font-size: 18px;
                margin-top: 13px;
                line-height: 24.3px;
                width: 100%;
            }
            &__p {
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 10px;
                line-height: 20.8px;
                & div:first-of-type {
                    margin-right: 10px;
                }
            }
            &__duration {
                font-size: 16px;
                font-weight: 400;
                margin-top: 20;
            }

            &__form {
                margin-top: 20px;
            }
            
            &__button {
                height: 60px;
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 2200px) {
    .content {
        max-width: 70%;
    }
}