@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/din_pro.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/din_pro.eot?#iefix") format("embedded-opentype"), url("../fonts/din_pro.woff2") format("woff2"), url("../fonts/din_pro.woff") format("woff"), url("../fonts/din_pro.ttf") format("truetype"), url("../fonts/din_pro.svg#din_pro") format("svg"); /* Chrome < 4, Legacy iOS */
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "DIN Pro", sans-serif;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
}

.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 131px;
}
.header .banner {
  display: none;
}
.header .main {
  padding: 0px 20px;
  margin: 0;
  max-height: 131px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}
.header .main__mobil-menu {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .main__mobil-menu__item {
  width: 30px;
  height: 3px;
  background-color: #3A3849;
}
.header .main__mobil-menu .mobil-third {
  width: 20px;
}
.header .main__logo {
  padding: 0;
  margin: 0;
}
.header .main__logo-img {
  padding: 0;
  margin: 0;
}
.header .main__logo-img img {
  width: 120px;
}
.header .main__logo-title {
  display: none;
}
.header .main__content {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.header .main__content-text {
  display: none;
}
.header .main__content-button-t {
  display: none;
}
.header .main__content-watsapp img {
  width: 40px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.header .main__content-phone {
  display: none;
}
.header .main__button {
  display: none;
}
.header .main__account {
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  border: none;
  outline-offset: none;
}
.header .main__account-img {
  width: 40px;
  height: auto;
  margin: 0;
  padding: 0;
}
.header .menu {
  display: none;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.content__bread-crumbs {
  font-size: 16px;
  margin-top: 26px;
  font-family: "DIN Pro", sans-serif;
  font-weight: 400;
  text-align: left;
  width: 100%;
}
.content__title {
  font-size: 32px;
  margin-top: 6px;
  font-weight: 700;
  font-family: "DIN Pro", sans-serif;
  color: #3A3849;
  text-align: left;
  width: 100%;
}
.content__directions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "DIN Pro", sans-serif;
  margin-top: 32px;
  gap: 10px;
  color: #3A3849;
  font-size: 16px;
  font-weight: 400;
}
.content__directions__title {
  flex-basis: 100%;
}
.content__directions__block {
  color: #3A3849;
  border-radius: 80px;
  margin: 0px;
  background-color: #FFFFFF;
  height: 33px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #E9E9E9;
}
.content__filtr-button {
  width: 100%;
  max-width: 335px;
  height: 40px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #E9E9E9;
  background-color: #FFFFFF;
  margin: 17px auto 0px 0px;
  padding: 0px;
  font-size: 14px;
  font-family: "DIN Pro", sans-serif;
  line-height: 20.3px;
  font-weight: 400;
  color: #3A3849;
}
.content__filtr-button:hover {
  cursor: pointer;
}

.form {
  display: none;
  position: absolute;
  top: 570px;
  left: calc(50% - 167px);
  z-index: 2;
  background-color: white;
  width: 335px;
  border-radius: 20px;
  padding: 10px 15px 18px 15px;
  box-sizing: border-box;
  color: #3A3849;
  font-family: "DIN Pro", sans-serif;
}
.form__radio {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
}
.form__radio .radio-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  border: 1px solid #1D7AD3;
  position: relative;
  padding: 0;
  margin: 0;
}
.form__radio .radio-button::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1D7AD3;
  opacity: 0;
  transition: opacity 0.3s;
}
.form__radio .radio-input:checked + .radio-button::before {
  opacity: 1;
}
.form__radio .radio-name {
  margin: 0;
  padding: 0;
  width: calc(100% - 30px);
}
.form__p-cat {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.form__p-duration {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 10px;
  padding: 0;
}
.form__p-slide {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  font-size: 14px;
}
.form__p-result {
  margin: 0;
  margin-top: 21px;
  padding: 0;
}
.form__button-apply {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: none;
  text-align: center;
  background-color: #1D7AD3;
  box-shadow: none;
  margin: 0;
  padding: 0;
  margin-top: 47px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  font-family: "DIN Pro", sans-serif;
}
.form__button-apply:hover {
  cursor: pointer;
}
.form__button-reset {
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border-radius: 4px;
  color: #3A3849;
  border: 1px solid #3A3849;
  text-align: center;
  background-color: white;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "DIN Pro", sans-serif;
}
.form__button-reset:hover {
  cursor: pointer;
}
.form__slidecontainer {
  position: relative;
  margin: 0 5px;
  padding: 0;
  width: calc(100% - 10px);
  height: 18px;
}
.form__slidecontainer .slider {
  position: absolute;
  left: 0px;
  top: 9px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  pointer-events: none;
}
.form__slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #1D7AD3;
  outline: 1px solid #1D7AD3;
  outline-offset: 4px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
.form__slidecontainer .slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: #1D7AD3;
  outline: 1px solid #1D7AD3;
  outline-offset: 4px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}
.form__slidecontainer .slide-track {
  position: absolute;
  left: 0px;
  top: 8px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 2px;
  background: #1D7AD3;
}

.form-black {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 10%;
  z-index: 1;
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  box-sizing: border-box;
  color: #3A3849;
}

.courses {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.courses__block {
  width: 100%;
  max-width: 335px;
  min-height: 280px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #FFFFFF;
  font-family: "DIN Pro", sans-serif;
  padding: 15px;
  position: relative;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.courses__block__category {
  display: flex;
  gap: 10px;
}
.courses__block__category div {
  border-radius: 80px;
  height: 33px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 23.2px;
  padding: 5px 15px;
  font-weight: 500;
  box-sizing: border-box;
}
.courses__block__category-first {
  background-color: #3EAEBA;
}
.courses__block__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.courses__block__text {
  font-size: 16px;
  margin-top: 15px;
  font-weight: bold;
  line-height: 21.6px;
}
.courses__block__p {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin-top: 10px;
}
.courses__block__p div:first-of-type {
  margin-right: 14px;
  display: flex;
  align-items: center;
}
.courses__block__p div:first-of-type div {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #3EAEBA;
  border-radius: 50%;
}
.courses__block__duration {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  flex-grow: 1;
  display: flex;
  align-items: end;
}
.courses__block__duration__span {
  font-weight: bold;
  margin-left: 10px;
}
.courses__block__button {
  width: 100%;
  height: 50px;
  background-color: #1D7AD3;
  color: white;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.3px;
  border-radius: 4px;
  font-family: "DIN Pro", sans-serif;
  padding: 0;
}
.courses__block__button:hover {
  cursor: pointer;
}
.courses__block form {
  margin-top: 15px;
}

#psychologist-coach-weight-correction .courses__block__text,
#psychology-eating-behavior .courses__block__text {
  font-weight: 400;
  font-size: 14px;
}

.blue-button {
  background-color: #1D7AD3;
  color: white;
}

@media (min-width: 1440px) {
  .header {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1441px;
    height: 203px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .header .banner {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .header .banner img {
    width: 100%;
    height: auto;
    max-width: 1701px;
  }
  .header .main {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .header .main__mobil-menu {
    display: none;
  }
  .header .main__logo {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header .main__logo-img {
    padding: 0;
    margin: 0;
  }
  .header .main__logo-img img {
    width: 130px;
  }
  .header .main__logo-title {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    width: 195px;
  }
  .header .main__content {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }
  .header .main__content-text {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    width: 120px;
  }
  .header .main__content-button-t {
    display: block;
    width: 238px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    color: white;
    background-color: #2AABEE;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
  }
  .header .main__content-button-t img {
    margin-left: 10px;
  }
  .header .main__content-watsapp img {
    width: 40px;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  .header .main__content-phone {
    display: block;
  }
  .header .main__content-phone .number {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.7px;
  }
  .header .main__content-phone .number-call {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    height: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .header .main__content-phone .number-call p {
    padding: 0;
    margin: 0;
  }
  .header .main__content-phone .number-call .number-call-green {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #30EB12;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
  }
  .header .main__button {
    display: block;
    width: 146px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #3A3849;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
  }
  .header .main__account {
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }
  .header .main__account img {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    width: 40px;
    height: auto;
  }
  .header .menu {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    margin-top: 25px;
    box-sizing: border-box;
  }
  .header .menu__list {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .header .menu__list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
  }
  .header .menu__list-item a {
    color: #3A3849;
    background-color: white;
  }
  .content {
    margin: 0;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
  }
  .content__bread-crumbs {
    max-width: 1441px;
  }
  .content__title {
    font-size: 40px;
    margin-top: 26px;
    max-width: 1441px;
  }
  .content__directions {
    align-items: center;
    margin-top: 31px;
    gap: 15px;
    max-width: 1441px;
  }
  .content__directions__title {
    flex-basis: 168px;
  }
  .content__filtr-button {
    display: none;
  }
  .form {
    width: 301px;
    padding: 15px 12px 35px 12px;
    display: block;
    position: relative;
    top: auto;
    left: auto;
    font-size: 16px;
  }
  .form__radio {
    margin-top: 10px;
  }
  .form__p-cat {
    margin: 0;
    padding: 0;
  }
  .form__p-duration {
    padding: 0;
    margin-top: 15px;
  }
  .form__p-slide {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
  }
  .form__p-result {
    margin-top: 27px;
  }
  .form__button-apply {
    margin-top: 60px;
  }
  .category {
    max-width: 1441px;
    align-items: start;
    margin-top: 52px;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    gap: 20px;
  }
  .courses__block {
    max-width: 357px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .courses__block__category div {
    padding: 5px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  .courses__block__category-first {
    background-color: #3EAEBA;
  }
  .courses__block__title {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    width: 100%;
  }
  .courses__block__text {
    font-size: 18px;
    margin-top: 13px;
    line-height: 24.3px;
    width: 100%;
  }
  .courses__block__p {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    margin-top: 10px;
    line-height: 20.8px;
  }
  .courses__block__p div:first-of-type {
    margin-right: 10px;
  }
  .courses__block__duration {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20;
  }
  .courses__block form {
    margin-top: 20px;
  }
  .courses__block__button {
    height: 60px;
    font-size: 18px;
  }
  #molecular-5p-nutritionist, #full-course, #nutrition-coach {
    height: 572px;
  }
  #protein-carbohydrate-alternation,
  #drying,
  #gain-muscle-mass {
    height: 438px;
  }
  #psychologist-coach-weight-correction,
  #psychology-eating-behavior {
    height: 426px;
  }
  #business-5p,
  #expert-laboratory-diagnostics,
  #specialist-5P-nutritionology-protocols {
    height: 301px;
  }
  #specialist-consulting-professional {
    height: 352px;
  }
  #vitamin-mineral-transformation,
  #all-about-lymphatic-system,
  #nutritionist-for-family {
    height: 469px;
  }
  #antiage,
  #antiparasitic-program,
  #healthy-intestines {
    height: 519px;
  }
  #cholesterol-control,
  #remove-belly,
  #slim-body {
    height: 565px;
  }
  #drying .courses__block__text, #gain-muscle-mass .courses__block__text {
    margin-bottom: 29px;
  }
  #psychologist-coach-weight-correction .courses__block__text,
  #psychology-eating-behavior .courses__block__text {
    font-size: 16px;
  }
  .footer__block {
    width: 1441px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */